In [4]:
!pip install yfinance==0.1.67
!mamba install bs4==4.10.0 -y
!pip install nbformat==4.2.0

Requirement already satisfied: yfinance==0.1.67 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (0.1.67)
Requirement already satisfied: pandas>=0.24 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance==0.1.67) (2.2.2)
Requirement already satisfied: numpy>=1.15 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance==0.1.67) (1.26.4)
Requirement already satisfied: requests>=2.20 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance==0.1.67) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance==0.1.67) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance==0.1.67) (5.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from pandas>=0.24->yfinance==0.1.67) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from pandas>=0.24->yfinance==0.1.67) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from pandas>=0.24->yfinance==0.1.67) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.24->yfinance==0.1.67) (1.16.0)

'mamba' is not recognized as an internal or external command,
operable program or batch file.

Requirement already satisfied: nbformat==4.2.0 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (4.2.0)
Requirement already satisfied: ipython-genutils in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from nbformat==4.2.0) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from nbformat==4.2.0) (4.23.0)
Requirement already satisfied: jupyter-core in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from nbformat==4.2.0) (5.7.2)
Requirement already satisfied: traitlets>=4.1 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from nbformat==4.2.0) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (0.10.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from jupyter-core->nbformat==4.2.0) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from jupyter-core->nbformat==4.2.0) (305.1)

In [5]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [6]:
pip install --upgrade yfinance

Requirement already satisfied: yfinance in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (0.1.67)
Collecting yfinance
  Downloading yfinance-0.2.54-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance) (2.4.2)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.9.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     ------ --------------------------------- 0.5/3.0 MB 5.6 MB/s eta 0:00:01
     -------------------- ------------------- 1.6/3.0 MB 4.4 MB/s eta 0:00:01
     ------------------------------- -------- 2.4/3.0 MB 4.6 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 4.0 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\stephen\onedrive\document\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Downloading yfinance-0.2.54-py2.py3-none-any.whl (108 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.9-py3-none-any.whl size=139096 sha256=c34d937ba55d12201444305d36a328af7fde35b5e8852df0abfa46f703ed9ce9
  Stored in directory: c:\users\stephen\appdata\local\pip\cache\wheels\43\ef\2d\2c51d496bf084945ffdf838b4cc8767b8ba1cc20eb41588831
Successfully built peewee
Installing collected packages: peewee, yfinance
  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.1.67
    Uninstalling yfinance-0.1.67:
      Successfully uninstalled yfinance-0.1.67
Successfully installed peewee-3.17.9 yfinance-0.2.54
Note: you may need to restart the kernel to use updated packages.

In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

# Question 1: Use yfinance to Extract Stock Data

In [3]:
tesla = yf.Ticker("TSLA")

In [4]:
tesla_data = tesla.history(period="max")

In [5]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

#  Question 2: Use Webscraping to Extract Tesla Revenue Data

In [10]:
url ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data = requests.get(url).text

In [11]:
beautiful_soup = BeautifulSoup(html_data, "html.parser")

In [12]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# URL of the webpage
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'

# Mimic a real browser
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)

# Check if request was successful
if response.status_code != 200:
    raise RuntimeError(f"Failed to fetch page: {response.status_code}")

# Parse the HTML
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find("tbody")

# If table is not found, raise an error
if not table:
    raise ValueError("No <tbody> found in the HTML.")

# Collect data in a list
data = []

for row in table.find_all("tr"):
    col = row.find_all("td")
    if len(col) < 2:
        continue
    date = col[0].text.strip()
    revenue = col[1].text.strip().replace(",", "").replace("$", "")  # Remove $ and ,
    data.append([date, revenue])

# Convert list to DataFrame
tesla_revenue = pd.DataFrame(data, columns=["Date", "Revenue"])

# Convert "Revenue" column to float
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].astype(float)

# Display first few rows
print(tesla_revenue.head())

   Date  Revenue
0  2020   6466.0
1  2019   8285.0
2  2018   8547.0
3  2017   7965.0
4  2016   9364.0

In [32]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\\$',"")

In [33]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [34]:
tesla_revenue.tail()

          Date Revenue
48  2010-09-30     $31
49  2010-06-30     $28
50  2010-03-31     $21
52  2009-09-30     $46
53  2009-06-30     $27

# Question 3: Use yfinance to Extract Stock Data

In [24]:
GameStop = yf.Ticker("GME")

In [25]:
gme_data = GameStop.history(period="max")
gme_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0
...,...,...,...,...,...,...,...
2025-02-18 00:00:00-05:00,27.030001,27.590000,26.660000,26.969999,5337800,0.0,0.0
2025-02-19 00:00:00-05:00,26.799999,26.959999,25.920000,26.000000,4382100,0.0,0.0
2025-02-20 00:00:00-05:00,25.799999,27.450001,25.760000,27.040001,7735200,0.0,0.0
2025-02-21 00:00:00-05:00,27.250000,27.580000,26.160000,26.420000,6130900,0.0,0.0
2025-02-24 00:00:00-05:00,26.340000,26.389999,24.950001,25.000000,5948500,0.0,0.0

# Question 4: Use Webscraping to Extract GME Revenue Data

In [26]:
url ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data = requests.get(url).text

In [27]:
beautiful_soup = BeautifulSoup(html_data, "html.parser")

In [29]:
gme_revenue = pd.DataFrame(columns=["Date", "Revenue"])

data = []  # Store rows in a list first

for row in beautiful_soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text.strip()
    revenue = col[1].text.strip()
    
    data.append({"Date": date, "Revenue": revenue})  # Append to list

# Convert list to DataFrame in one step (faster)
gme_revenue = pd.DataFrame(data)

# Clean 'Revenue' column: Remove commas and dollar signs
gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(r"[,\$]", "", regex=True)

print(gme_revenue)

          Date Revenue
0   2020-04-30    1021
1   2020-01-31    2194
2   2019-10-31    1439
3   2019-07-31    1286
4   2019-04-30    1548
..         ...     ...
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

[62 rows x 2 columns]

In [30]:
gme_revenue.tail()

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

In [36]:
# Convert Date column to datetime
tesla_revenue["Date"] = pd.to_datetime(tesla_revenue["Date"])

# Remove dollar signs and commas from Revenue, then convert to float
tesla_revenue["Revenue"] = (
    tesla_revenue["Revenue"].str.replace(r"[,\$]", "", regex=True).astype(float)
)

In [39]:
 pd.to_datetime(['12-01-2000 00:00:00', '13-01-2000 00:00:00'], infer_datetime_format=True)

C:\Users\Stephen\AppData\Local\Temp\ipykernel_2440\1766890552.py:1: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

ValueError: time data "13-01-2000 00:00:00" doesn't match format "%m-%d-%Y %H:%M:%S", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

# Question 5: Plot Tesla Stock Graph

In [40]:
make_graph(tesla_data,tesla_revenue,'Telsa')

C:\Users\Stephen\AppData\Local\Temp\ipykernel_2440\2068038883.py:5: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

C:\Users\Stephen\AppData\Local\Temp\ipykernel_2440\2068038883.py:6: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

# Question 6: Plot GameStop Stock Graph

In [42]:
make_graph(gme_data,gme_revenue,'GameStop')

AttributeError: 'DataFrame' object has no attribute 'Date'